In [25]:
import pandas as pd
import numpy as np

bee_data_to_load = "Resources/honey_production.csv"

bee_data = pd.read_csv(bee_data_to_load)
bee_data.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Commodity,Data Item,Domain,Domain Category,Value
0,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,HONEY,"HONEY - PRICE RECEIVED, MEASURED IN $ / LB",TOTAL,NOT SPECIFIED,5.99
1,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,HONEY,"HONEY - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"1,917,000"
2,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,HONEY,"HONEY - PRODUCTION, MEASURED IN LB",TOTAL,NOT SPECIFIED,"320,000"
3,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,HONEY,"HONEY - PRODUCTION, MEASURED IN LB / COLONY",TOTAL,NOT SPECIFIED,40
4,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"8,000"

In [26]:
bee_data = bee_data.drop(["Program", "Period", "Week Ending", "Geo Level", "State ANSI", "Commodity", "Domain", "Domain Category"], axis=1)

In [27]:
bee_data

,Year,State,Data Item,Value
0,2021,ALABAMA,"HONEY - PRICE RECEIVED, MEASURED IN $ / LB",5.99
1,2021,ALABAMA,"HONEY - PRODUCTION, MEASURED IN $","1,917,000"
2,2021,ALABAMA,"HONEY - PRODUCTION, MEASURED IN LB","320,000"
3,2021,ALABAMA,"HONEY - PRODUCTION, MEASURED IN LB / COLONY",40
4,2021,ALABAMA,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","8,000"
...,...,...,...,...
4600,2000,WYOMING,"HONEY - PRICE RECEIVED, MEASURED IN CENTS / LB",59
4601,2000,WYOMING,"HONEY - PRODUCTION, MEASURED IN $","2,140,000"
4602,2000,WYOMING,"HONEY - PRODUCTION, MEASURED IN LB","3,627,000"
4603,2000,WYOMING,"HONEY - PRODUCTION, MEASURED IN LB / COLONY",93
4604,2000,WYOMING,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...","39,000"

In [39]:
honey_data = pd.pivot_table(bee_data, values = "Value", index=["Year", "State"], columns = "Data Item", aggfunc=np.sum)

In [40]:
honey_data

Data Item          HONEY - PRICE RECEIVED, MEASURED IN $ / LB  \
Year State
2000 ALABAMA                                              NaN
     ARIZONA                                              NaN
     ARKANSAS                                             NaN
     CALIFORNIA                                           NaN
     COLORADO                                             NaN
...                                                       ...
2021 VIRGINIA                                            8.23
     WASHINGTON                                          2.52
     WEST VIRGINIA                                        4.8
     WISCONSIN                                           2.81
     WYOMING                                             2.07

Data Item          HONEY - PRICE RECEIVED, MEASURED IN CENTS / LB  \
Year State
2000 ALABAMA                                                   59
     ARIZONA                                                   73
     ARKANSAS                                                  57
     CALIFORNIA                                                59
     COLORADO                                                  62
...                                                           ...
2021 VIRGINIA                                                 NaN
     WASHINGTON                                               NaN
     WEST VIRGINIA                                            NaN
     WISCONSIN                                                NaN
     WYOMING                                                  NaN

Data Item          HONEY - PRODUCTION, MEASURED IN $  \
Year State
2000 ALABAMA                                 736,000
     ARIZONA                               1,723,000
     ARKANSAS                              2,757,000
     CALIFORNIA                           18,172,000
     COLORADO                              1,079,000
...                                              ...
2021 VIRGINIA                              1,975,000
     WASHINGTON                            7,741,000
     WEST VIRGINIA                         1,238,000
     WISCONSIN                             5,547,000
     WYOMING                               4,562,000

Data Item          HONEY - PRODUCTION, MEASURED IN LB  \
Year State
2000 ALABAMA                                1,248,000
     ARIZONA                                2,360,000
     ARKANSAS                               4,836,000
     CALIFORNIA                            30,800,000
     COLORADO                               1,740,000
...                                               ...
2021 VIRGINIA                                 240,000
     WASHINGTON                             3,072,000
     WEST VIRGINIA                            258,000
     WISCONSIN                              1,974,000
     WYOMING                                2,204,000

Data Item          HONEY - PRODUCTION, MEASURED IN LB / COLONY  \
Year State
2000 ALABAMA                                                78
     ARIZONA                                                59
     ARKANSAS                                               93
     CALIFORNIA                                             70
     COLORADO                                               60
...                                                        ...
2021 VIRGINIA                                               40
     WASHINGTON                                             32
     WEST VIRGINIA                                          43
     WISCONSIN                                              47
     WYOMING                                                58

Data Item          HONEY, BEE COLONIES - INVENTORY, MEASURED IN COLONIES
Year State
2000 ALABAMA                                                   16,000
     ARIZONA                                                   40,000
     ARKANSAS                                                  52,000
     CALIFORNIA                                               440,000
     COLORADO                                                  29,000
...                                                               ...
2021 VIRGINIA                                                   6,000
     WASHINGTON                                                96,000
     WEST VIRGINIA                                              6,000
     WISCONSIN                                                 42,000
     WYOMING                                                   38,000

[921 rows x 6 columns]